----
-- User configuration file for lsyncd.
--
-- Simple example for default rsync, but executing moves through on the target.
--
-- For more examples, see /usr/share/doc/lsyncd*/examples/
--
settings {
  logfile="/var/log/lsyncd.log",
  statusFile="/var/tmp/lsyncd.stat",
  nodaemon=false,
  insist=true
}
{% for item in lsyncd_local_sync_targets %}
sync {
  default.rsync,
  source="{{ item.source }}",
  target="{{ item.target }}",
  delay=1,
  delete=false,
  rsync={
    archive=true
  }
}
{% endfor %}
{% for slave in lsyncd_slave_hosts %}
{% for item in lsyncd_remote_sync_targets %}
sync {
  default.rsyncssh,
  source="{{ item.source }}",
  host="{{ slave }}",
  targetdir="{{ item.target }}",
  delay=1,
  delete=false,
  rsync={
    archive=true,
    rsh = "ssh -i {{ lsyncd_master_identity_file }} -l {{ lsyncd_slave_username }} -o StrictHostKeyChecking=no",
    rsync_path = "sudo /usr/bin/rsync"
  }
}
{% endfor %}
{% endfor %}
